/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  background: #F7F5F0;
  padding: 10px;
  text-align: center;
}

.main-logo img {
  margin: -25px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .main-logo {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px;
  list-style-type: none;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

.container {
  width: 100%;
}

.main-header  {
  text-align: center;
  background: url('../img/clt_skyline.png') no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.main-header {
  line-height: 1.5;
}
.main-header  .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

.main-header  .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: #0399FF;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #000;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.secondary {
  display: block;
  text-align: center;
  width: 100%;
  height: 335px;
  background: #FAFAFA;
}

.secondary a {
  color: #8D9AA5;
}

.secondary p {
  margin: 8px;
}

footer {
  width: 100%;
  min-height: 30px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(../img/twitter.svg);
}
a.linkedin {
  background-image: url(../img/linkedin.svg);
}
a.github {
  background-image: url(../img/github.svg);
}
a.social:hover {
  opacity: 1;
}


/* RESUME */

.container {
  margin-top: 30px;
  padding: 30px;
}
ul {
  list-style-type:  none;
  padding-left: 0;
}

li {
  padding: 5px;
}

span {
  font-weight: bold;
}

.Acolumn {
  text-align: center;

}

.Bcolumn {
  text-align: center;

}
/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */